MONGODB_HOME='/usr/local/easyops/mongodb'
MONGODB_IP='127.0.0.1'
MONGODB_PORT='27017'
MONGODB_DB='test'
MONGODB_USER=''
MONGODB_PASSWORD=''

MYSQL_HOME='/usr/local/easyops/mysql'
MYSQL_IP='127.0.0.1'
MYSQL_PORT='3306'
MYSQL_DB='anyclouds_cmdb'
MYSQL_USER=''
MYSQL_PASSWORD=''

CMDB_CONFIG_PATH='../../../src/config'
CMDB_TRIAL_MAILTO=''
CMDB_AGENT_SECRETKEY='password'
CMDB_MONGODB_REPLICASET=''

TOOLS_PATH='../../../src/tools'

PHP_HOME='/usr/local/easyops/php'